body {
    font-family: Montserrat Alternates, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #000;
    line-height: 1.6;
    overflow-y: scroll;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

*, :after, :before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */

.container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

/* Main */
.main {
    min-height: 500px;
}

#variants {
    display: flex;
    flex-direction: column;
}

.btn__variant {
    width: 200px;
    background: transparent;
    border: none;
    margin-top: 15px;
    font-size: 16px;
    text-decoration: underline;
}

